name: deploy

on:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath, pdo_mysql, curl

      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist

      - name: Roda PHPSTAN
        run: vendor/bin/phpstan analyse --memory-limit=2G

      - name: Roda PHPCS
        run: vendor/bin/phpcs --standard=PSR12 app/

      - name: Executa testes
        run: vendor/bin/pest

  deploy:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/salgadinhos-web
            git pull origin main
            docker compose up -d --build
            docker exec salgadinhos-app php artisan migrate --force
            docker exec salgadinhos-app php artisan optimize
